# Copyright (C) 2023 Roberto Rossini <roberros@uio.no>
#
# SPDX-License-Identifier: MIT
---
Checks: >
  *,
  -abseil-*,
  -fuchsia-*,
  -google-*,
  -zircon-*,
  -llvm-*,
  -llvmlibc-*,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -hicpp-no-array-decay,
  -misc-no-recursion,
  -misc-use-anonymous-namespace,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-static-definition-in-anonymous-namespace
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
CheckOptions:
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: '1'
  - key: cppcoreguidelines-macro-usage.AllowedRegexp
    value: 'DISABLE_WARNING_.*'
  - key: misc-include-cleaner.IgnoreHeaders
    value: 'fmt/.*'
