# Copyright (C) 2023 Roberto Rossini <roberros@uio.no>
#
# SPDX-License-Identifier: MIT

# Ignored directories
.cache/
.idea/
.run/
.vscode/
benchmark/data
build/
cmake-build*/
conan-envs/
scratch/
test/data
Testing/

# Ignored files
gmon.out
perf.*
compile_commands.json
CMakeUserPresets.json
src/common/include/hictk/common/git.hpp
src/common/include/hictk/common/version.hpp
